    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #0F0F0F;
        font-family: "lato";
        color: #ffffff;
    }

    img {
        object-fit: cover;
        overflow: hidden;
    }

    .y_container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 10px;
        padding-right: 10px;
    }


    /* ====================================================================================================================================================================
                                                                           CART PAGE CSS
 ====================================================================================================================================================================== */

    .sb_abosulate {
        display: block;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sb_abosulate img {
        height: 150px;
    }

    .sb_reletive {
        position: absolute;
    }

    .sb_btn {
        background-color: #FB7514;
        color: #ffffff;
        border: 0;
        border-radius: 5px;
        padding: 5px 45px;
    }

    .sb_btn:hover {
        color: #ffffff;
    }

    .sb_card {
        background-color: transparent;
        border: none;
        width: 15rem !important;
        margin: auto;
    }

    .sb_card_body {
        text-align: center;
    }

    .sb_line {
        color: #FB7514;
        text-decoration: underline;
        text-align: end;
        padding: 2rem 0;
        cursor: pointer;
    }

    .sb_card_body1 {
        height: 210px;
        border-radius: 0 012px 12px;
    }

    .sb_card1 {
        background-color: transparent;
        border: none;
        width: auto !important;
        border: 1px solid #201d1d;
        border-radius: 12px;
    }

    .sb_dots {
        color: #FB7514;
        margin: 0 8px;
    }

    .sb_star {
        color: #FB7514;
        margin: 0 5px;
    }

    .sb_qty_btn {
        background-color: #FB7514;
        padding: 5px 0;
        border-radius: 5px;
    }

    .sb_qty_btn span {
        margin: 0 15px;
    }

    .sb_total {
        margin: 20px 0;
        border-radius: 5px;
        background-color: #020202;
        padding: 20px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #201d1d;
    }

    .sb_btn a {
        text-decoration: none;
        color: white;
    }

    /* ================================= Order Summry Model Css =============================== */

    .sb_modal-content {
        background-color: #0F0F0F;
        color: #ffffff;
        position: relative;
    }

    .sb_model-header {
        border-bottom: 1px dashed #545454;
        display: block !important;
    }

    .sb_model-header img {
        position: absolute;
        top: -10%;
        left: 40%;
    }

    .sb_model_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sb_model_flex p {
        font-size: 13px;
        margin-bottom: 0;
    }

    .sb_line1 {
        color: #FB7514;
        text-decoration: underline;
    }

    .sb_model-footer {
        border-top: 1px dashed #545454 !important;
    }

    .sb_model_btn {
        display: flex;
        justify-content: space-between;
    }

    .sb_btn_dark {
        background-color: #0F0F0F;
        border: 1px solid white;
        border-radius: 5px;
        padding: 5px 45px;
    }

    .sb_btn_dark a {
        text-decoration: none;
        color: #ffffff;
    }

    /* ================================= Review Model Css =============================== */

    .sb_model-header1 {
        border-bottom: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sb_textarea textarea {
        width: 95%;
        background-color: #070707;
        margin: 0 3%;
        color: #ffffff;
        border: 1px solid white !important;
        border-radius: 5px;
        padding: 10px;
    }

    .sb_textarea textarea:focus-visible {
        outline: none;
    }

    /* ================================= Review Model Css =============================== */

    .sb_modal-content2 {
        background-color: #0F0F0F;
        color: #ffffff;
        position: relative;
    }

    .sb_model-header2 {
        border-bottom: none;
    }

    .sb_model-header2 img {
        border-bottom: none;
        position: absolute;
        left: 40%;
        top: -20%;
    }

    /* ================================= Customise Model Css =============================== */
    .sb_modal-content3 {
        background-color: #0F0F0F;
        color: #ffffff;
    }
    .sb_model_body1{
        background-color: #020202;
        border-radius: 5px;
        border: 1px solid #545454;
    }
    .sb_option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px ;
    }
    .sb_radio-container {
        display: flex;
        align-items: center;
    }
    .sb_radio-container input[type="radio"] {
        display: none;
    }
    .sb_radio-container label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
    }
    .sb_radio-container label::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        border: 2px solid #555;
        border-radius: 50%;
        padding: 8px;
    }
    .sb_radio-container input[type="radio"]:checked + label::before {
        border: 2px solid #ff6600;
    }
    .sb_radio-container input[type="radio"]:checked + label::after {
        content: '';
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ff6600;
    }
    .sb_option .form-check-input:checked{
        background-color: #ff6600;
        border-color: #ff6600;
    }
    .sb_modal-content3:last-child{
        padding: 0;
    }
    .sb_option .form-check-input{
        background-color: transparent;
        border-color: #555;
    }
 /* ====================================================================================================================================================================
                                                                            ORDER PAGE CSS
 ====================================================================================================================================================================== */

    .no-Order {
        transform: translateY(70%);
    }


    .sb_bg_img img {
        height: 200px;
    }

    .sb_card2 {
        background-color: #020202;
        color: #ffffff;
        border: 1px solid #201d1d;
    }

    .sb_modal-content3 {
        background-color: #1c1c1c;
        color: #fff;
        border-radius: 10px;
        padding: 20px;
    }

    .sb_modal-content3 .modal-header {
        border-bottom: none;
    }

    .sb_model_body {
        background-color: #020202;
        border: 1px solid #393939;
        border-radius: 10px;
        padding: 0;
    }

    .sb_invoice-meta p {
        margin-bottom: 10px;
    }

 /* ====================================================================================================================================================================
                                                                            Media Query
 ====================================================================================================================================================================== */

    @media (min-width: 1650px) {
        .y_container {
            width: 1501px;
        }
    }

    @media (min-width: 1200px) and (max-width: 1649px) {
        .y_container {
            width: 1199px;
            max-width: none;
        }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        .y_container {
            width: 970px;
            max-width: none;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .y_container {
            width: 750px;
            max-width: none;
        }
    }

    @media (min-width: 480px) and (max-width: 767px) {
        .y_container {
            max-width: 750px;
        }
    }

    @media (min-width: 300px) and (max-width: 450px) {
        .y_container {
            max-width: 750px;
            padding: 0px 10px;
        }
    }

    @media (max-width:1024px) {
        .no-Order {
            transform: translateY(60%);
        }

    }

    @media (max-width:768px) {
        .sb_dots {
            color: #FB7514;
            margin: 0 3px;
        }

        .sb_star {
            color: #FB7514;
            margin: 0 3px;
        }

        .sb_qty_btn span {
            margin: 0 10px;
        }

        .sb_card_body1 {
            height: 225px;
        }
    }

    @media (max-width:425px) {

        .sb_fixed_total {
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 20px 10px;
        }

        .s_modal2 .sb_btn {
            width: 100%;
        }

        .sb_bg_img img {
            height: 150px;
        }
    }

    @media (max-width:375px) {
        .sb_total {
            padding: 20px 20px;
        }

        .sb_btn {
            padding: 5px 30px;
        }

        .sb_btn_dark {
            padding: 5px 30px;
        }

        .sb_model-header img {
            left: 37%;
        }

        .sb_model-header2 img {
            left: 37%;
        }

        .sb_modal-content3 {
            padding: 10px;
        }

        .sb_invoice-meta p {
            font-size: 12px;
        }

        .sb_invoice-items {
            font-size: 12px;
        }

    }

    @media (max-width:325px) {
        .sb_btn {
            padding: 5px 20px;
        }

        .sb_btn_dark {
            padding: 5px 20px;
        }
    }