/* --------------------- font ---------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* --------------------------------- basic css--------------------------- */

.sp_bg_black {
    background-color:  #040404;
    font-family: "lato";
}
.sp_color_yellow{
    color: #FB7514;
}
.sp_fs_13 {
    font-size: 13px;
}

/* ---------------------------sub category page css ----------------------- */

.sp_sub_category_thumb {
    background-image: url('/sujal_img/sub_category_thumb.png');
    width: 100%;
    height: 200px;
    background-position: center center;
}
.sp_sub_category_title{
    margin: 0px;
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px;
    height: 100%;
}
.sp_sub_cat_content {
    width: 180px;
    /* margin: auto; */
}
.sp_cat_data a {
    /* color: white; */
    text-decoration: none;
    border: 0px;
}
.sp_sub_cat_img {
    display: flex;
    align-items: center;
    width: 180px;
    height: 180px;
    padding: 20px;
    border: 1px solid ;
    border-radius: 10px;
    border-color:rgba(255, 255, 255,0.1) ;
    cursor: pointer;
}
.sp_sub_cat_title{
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    padding-top: 10px;
}
.sp_sub_cat_img:hover {
    border-color: white;
}


/* -----------------------------------------cat list css */
.sp_border_ligth {
    border: 1px solid ;
    border-radius: 5px;
    border-color:rgba(255, 255, 255,0.1) ;
}
.sp_meal {
    cursor: pointer;
}
.s_catlist_card {
    width: 320px;
    /* margin:20px auto; */
    border: 1px solid ;
    border-radius: 10px;
    border-color:rgba(255, 255, 255,0.1) ;
    text-transform: capitalize;
}
.s_catlist_img {
    position: relative;
}
.s_catlist_icon {
    position: absolute;
    top: 20px;
    right: 20px;
}
.sp_fs_12{
    font-size: 12px;
}
.s_add_btn {
    border: 1px solid #fb7514;
    box-shadow: none;
    background-color: #fb7514;
    color: white;
    font-size: 20px;
    width: 150px;
    border-radius: 5px;
    padding: 5px 0px;
    font-weight: 600px;
    height: 42px;
}
.s_add_btn:hover {
    color:#fb7514 ;
    background-color: transparent;
}
.sp_cardlist_cart {
    background-color: #0F0F0F; 
    color: white;
    padding: 15px 40px; 
}
.sp_card{
    position: relative;
}
.sp_cardlist_cart{
    margin: auto;
    width: 100% !important; 
}

.sp_cardlist_menu_box{
    width: 60px;
    height: 60px;
    background-color: #0F0F0F;
    border-radius: 50%;
    margin-bottom: 50px;
}
.sp_cardlist_menu img {
    margin: auto;
    width: 24px;
    height: 24px;
}
.sp_fs_11 {
    font-size: 11px;
}
/* ----------modal css----- */
.s_catlist_card .modal-content {
    background-color: #0f0f0f;
}
.s_catlist_card   .modal-dialog {
    width: 700px ;
}

.s_catlist_card .modal-dialog-scrollable .modal-content {
    border-radius: 10px;
    height: 675px !important;
}
.s_catlist_card .modal-dialog-scrollable .modal-body::-webkit-scrollbar {
    display: none;
}
.s_catlist_card .btn-close {
    background-image: url('/sujal_img/close.png');
    width: 24px;
    height: 24px;
    background-size: cover;
    margin: 20px;
}
.s_modal_inner {
    margin: 20px 10px;
    background-color: #040404;
    border: 1px solid ;
    border-radius: 10px;
    border-color:rgba(255, 255, 255,0.1) ;
}
.s_modal_inner .s_modal_inp {
    padding: 10px 20px;
    margin-bottom: 0px;
}
.s_modal_inner hr {
    margin: 0px;
    opacity: 0;
}


.s_modal_inner .s_modal_intxt {
    font-size: 14px !important;
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: 100%;
    outline: none;
    color: white;
    accent-color: white;
    text-wrap: normal;
}
.s_modal_inner .s_modal_intxt::placeholder {
    color: white;
    font-size: 14px !important;
}
/* custome radio button css */
.s_modal_inner .radio-wrapper {
    position: relative;
}

.s_modal_inner .radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.s_modal_inner .radio-label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid grey;
    border-radius: 50%;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    background-color: black;
}

.s_modal_inner .radio-input:checked + .radio-label {
    border-color: #FB7514;
    background-color: black;
}

.s_modal_inner .radio-input:checked + .radio-label::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: #FB7514;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* custom checkbox css */
.s_modal_inner input[type="checkbox"] {
    -webkit-appearance: none; 
    appearance: none;
}


.s_modal_inner  input[type="checkbox"]:checked {
    background-color: #FB7514;
    border: 2px solid #FB7514; 
}


.s_modal_inner input[type="checkbox"] {
    width: 20px; 
    height: 20px; 
    background-color:transparent; 
    border: 2px solid grey; 
    cursor: pointer;
    position: relative;
}

.s_modal_inner input[type="checkbox"]:checked::before {
    content: "";
    position: absolute; 
    top: 0%;
    left: 30%; 
    width: 6px;
    height: 12px; 
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); 
    transform-origin: center;
    background-color:#FB7514  !important;
}
/* modal footer css */ 
.sp_modal_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255,0.1);
    padding: 20px;
    background-color: #040404;
}
.sp_modal_footer .sp_btn {
    padding: 10px;
    background-color: #FB7514;
    border: 1px solid #FB7514;
    box-shadow: none;
    color: white;
    width: 150px;
    border-radius: 5px;
}
.sp_modal_footer .sp_btn:hover{
    background-color: transparent;
    color: #FB7514;
}

/* --------------------------------------------------------search page cssss-------------------------------- */
.sp_search {
    border: 1px solid rgba(255, 255, 255,0.1);
    border-radius: 10px;
    text-transform: capitalize;
}
.sp_search h5 {
    font-size: 18px;
    font-weight: 600px;
}
.sp_search .sp_thumbnail{
    width:   130px;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
}
.sp_search  .sp_text {
    padding: 10px 20px;
}

.sp_search{
    text-transform: capitalize !important;
    width: 820px;
    margin: 20px auto !important;
}
.sp_search_input {
    text-transform: capitalize !important;
    width: 820px;
    margin:auto;
    padding: 10px 20px;
    border: 1px solid ;
    border-radius: 5px;
}
.sp_popular {
    text-transform: capitalize !important;
    width: 820px;
    margin: auto;
}
.sp_search_input img {
    cursor: pointer;
}
.sp_search_input input{
    width: calc(100% - 20px);
    box-shadow: none;
    border: none;
    background-color: transparent;
    color: white;
    padding: 0px 20px;
    font-size: 12px;
    outline: none;
    text-transform: capitalize;
}
.sp_search_input input::placeholder {
    text-transform: capitalize;
}
/* body {
    position: relative;
} */
.search_not_found {
    width: 250px;
    margin-top: 200px !important;
}

















































































/* ---------------------------media query ==----------------------------------- */
.y_container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
@media (min-width: 1900px){

}
@media (min-width: 1650px) {
    .y_container {
        width: 1501px;
    }

}
@media (min-width: 1200px) and (max-width: 1649px) {
    .y_container {
        width: 1199px;
        max-width: none;
    }
    /* .sp_cardlist_cart , .sp_cardlist_menu{
        width: 1199px;
    } */

}

@media (min-width: 992px) and (max-width: 1199px) {
    .y_container {
        width: 970px;
        max-width: none;
    }


}

@media (min-width: 768px) and (max-width: 991px) {
    .y_container {
        width: 750px;
        max-width: none;
    }
    .s_sub_category_title{
        font-size: 40px !important;
    }
    .s_sub_text{
        font-size: 18px !important;
    }

    .s_catlist_card   .modal-dialog {
        width: 600px ;
    }
    .sp_search .sp_thumbnail{
        width: 150px;
    }
    .sp_search_input {
        width: 700px;
    }
    .sp_search{
        width: 700px;
    }
    .sp_popular {
        width: 700px;
    }
    .sp_popular .sp_sub_cat_img {
        width: 150px;
        height: 150px;
    }
    .sp_popular .sp_sub_cat_title {
        width: 150px;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .y_container {
        max-width: 750px;
    }
    .s_sub_category_title{
        font-size: 40px !important;
    }
    .s_sub_text{
        font-size: 18px !important;
    }

    .s_catlist_card   .modal-dialog {
        width: 450px;
        margin: auto;
    }
    .sp_search {
        margin: 10px;
        width: 48% ;
    }
    .sp_search .sp_thumbnail {
        width: 100%;
        border-radius: 0px;
    }
    .sp_search_input {
        width:100%;
    }
    .sp_popular {
        width: 100%;
    }
}
@media (min-width: 480px) and (max-width: 576px) {
    .sp_search {
        margin: 10px;
        width: 320px ;
    }
    .sp_search .sp_thumbnail {
        width: 100%;
        border-radius: 0px;
    }
    .sp_search_input {
        width:100%;
    }
    .sp_popular {
        width: 100%;
    }
}
@media (min-width: 450px) and (max-width: 479px) {

    .s_catlist_card   .modal-body {
        padding: 0px;
    }
    .s_catlist_card   .modal-dialog {
        width: 400px;
        margin: auto;
    }
    .sp_modal_footer {
        display: block;
    }
    .sp_modal_footer .sp_btn {
        margin: 10px auto;
        width: 80%;
    }
    .s_catlist_card   .modal-dialog {
        width: 450px;
        margin: auto;
    }

    .sp_search {
        width: 320px;
    }
    .sp_search .sp_thumbnail {
        width: 320px;
        border-radius: 0px;
    }
    .sp_search_input {
        width:100%;
    }
    .sp_popular {
        width: 100%;
    }
}

@media (min-width: 300px) and (max-width: 450px) {
    .y_container {
        max-width: 750px;
        padding: 0px 10px;
    }
    .s_sub_category_title{
        font-size: 40px !important;
    }
    .s_sub_text{
        font-size: 18px !important;
    }

    .s_catlist_card {
        width: 320px;
    }
    .sp_cardlist_cart{
        width: 100%;
        left: 0%;
        bottom: 0px;
    }
    .sp_cardlist_menu {
        width: 100%;
        left: 0%; 

    }
    .s_catlist_card   .modal-dialog {
        width: 350px;
        margin: auto;
    }
    .s_catlist_card   .modal-body {
        padding: 0px;
    }
    .sp_modal_footer {
        display: block;
    }
    .sp_modal_footer .sp_btn {
        margin: 10px auto;
        width: 100%;
    }
    .sp_search {
        width: 320px;
    }
    .sp_search .sp_thumbnail {
        width: 320px;
    }
    .sp_search_input {
        width:100%;
    }
    .sp_popular {
        width: 100%;
    }
}
@media (min-width: 300px) and (max-width: 374px){
    .s_catlist_card {
        width: 280px;
    }
    .sp_fliter_box {
        padding: 12px 10px !important ;
    }
    .sp_cardlist_cart{
        width: 100%;
        left: 0%;
        bottom: 0px;
    }
    .sp_cardlist_menu {
        width: 100%;
        left: 0%; 

    }
    .s_catlist_card   .modal-dialog {
        width: 280px;
        margin: auto;
    }
    .s_catlist_card   .modal-body {
        padding: 0px;
    }
    .sp_modal_footer {
        display: block;
    }
    .sp_modal_footer .sp_btn {
        margin: 10px auto;
        width: 100%;
    }
    .s_catlist_card   .modal-dialog {
        width: 280px;
        margin: auto;
    }
    .sp_search {
        width: 280px;
        margin: auto;
    }
    .sp_search .sp_thumbnail {
        width: 280px;
    }
    .sp_search_input {
        width:100%;
    }
    .sp_popular {
        width: 100%;
    }
}
@media (min-width: 576px) {
.s_catlist_card .modal-dialog {
    max-width: 700px;
     margin: 1.75rem auto;
     height: 625px;
}

}
